<!DOCTYPE html>
<html>
<head>
    <title>Session information</title>
</head>
<body>
<h1 id="message"></h1>
<p>Access Token: <span id="access_token"></span></p>
<p>Refresh Token: <span id="refresh_token"></span></p>
<p>Email: <span id="email"></span></p>
<p>Username: <span id="username"></span></p>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');

    // Retrieve the stored values from localStorage
    const accessToken = localStorage.getItem("access_token");
    const refreshToken = localStorage.getItem("refresh_token");
    const email = localStorage.getItem("email");
    const username = localStorage.getItem("username");

    // Display the retrieved values
    document.getElementById('access_token').textContent = accessToken || 'N/A';
    document.getElementById('refresh_token').textContent = refreshToken || 'N/A';
    document.getElementById('email').textContent = email || 'N/A';
    document.getElementById('username').textContent = username || 'N/A';
    document.getElementById('message').textContent = message || 'Session information';
</script>
</body>
</html>
